
.mail-list {
    /* list-style: none; */
    background-color: lightgrey;
    flex-basis: 80%;
    /* flex-grow: 4; */
    height: 100vh;
}

.mail-send {
    background-color: white ;
    flex-basis: 80%;
    height: 100vh;
}

.mail-list li {
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    padding: 0;
}

.mail-list li p {
    /* height: 100%;
    width: 100%; */
    /* padding: 5px; */
}

.read {
    background-color: rgb(165, 163, 163);
}

.mail-details {
    display: flex;
    height: 100vh;
    background-color: white;
    flex-basis: 80%;
    text-align: center;
}

.mail-preview{
    width: 100%;
    height: 100%;
}

.mail-status {
    background-color: skyblue;
}

.mail-app {
    display: flex;
    
}

.mail-send {
    display: flex;
}

.mail-msg {
  
    height: 100vh;
    background-color: white;
    flex-basis: 80%;
    text-align: center;
}

.mail-side-nav {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    flex-basis: 20%;

}
