
.mail-list {
    /* list-style: none; */
    background-color: lightgrey
}

.mail-list li {
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    padding: 0;
}

.mail-list li p {
    /* height: 100%;
    width: 100%; */
    padding: 5px;
}

.read {
    background-color: rgb(165, 163, 163);
}

.mail-details {
    background-color: white;
    max-width: 700px;
    margin-inline-end: 200px;
    margin-inline-start: 200px;
    text-align: center;
}

.mail-preview{
    width: 100%;
    height: 100%;
}

.mail-status {
    background-color: skyblue;
}