
.mail-send {
    background-color: white ;
    flex-basis: 80%;
    height: 100vh;
}






.mail-list {
    background-color: lightgrey;
    flex-basis: 80%;
    height: 100vh;
}

.mail-list ul {
    margin:0;
    padding: 0;
}

.mail-list li {
    width: 100%;
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    padding: 0;
}


/* mailDetails */

.mail-details {
    display: flex;
    height: 100vh;
    background-color: white;
}

.details {
    flex-basis: 80%;
  
}

.mail-details .mail-side-nav {
    /* flex-basis: 72%; */
    flex-grow: 1;
    /* flex-basis: 30%; */
    /* flex-grow: 1fr; */
}

.mail-subject-details {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-inline-start: 3%;
}
.mail-subject-body {
   margin-top: 3rem;
   margin-right: 20%;
   margin-left: 20%;
   line-height: 1.5;
    /* text-align: center; */
}

.mail-preview{
    width: 100%;
    height: 100%;
}

.read {
    background-color: rgba(165, 163, 163, 0.3);
}


.mail-status {
    background-color: white;
    flex-basis: 100%;
    text-align: center;
    /* margin-top: 10px; */
}

.mail-status p {
    background-color: lightgray;
    flex-basis: 100%;
    margin: 0;
    border: 1px solid black;
    text-align: center;
}

.mail-app {
    display: flex;
    flex-wrap: wrap;
}

.mail-filter {
   flex-basis: 100%;
   background-color: white;
   text-align: center;
}

.mail-filter input {
   background-color: lightgrey;
   /* border-radius: 10px; */
   width: 30%;
   margin: 10px;
   padding: 7px;
}

.mail-send {
    display: flex;
    background-color: white;
}

.mail-msg {
  
    height: 100vh;
    background-color: white;
    flex-basis: 80%;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    
}

.mail-msg input {
    width: 100%;
    padding: 5px;
}

.mail-msg textarea {
    width: 100%;
    padding: 5px;
}

.mail-msg p {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    text-align: left;
}

/* .mail-msg button {
  align-self: flex-end;
} */

.mail-side-nav {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    flex-basis: 20%;

}

.mail-preview {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.mail-preview .mailName {
    display: flex;
    justify-content: start;
    flex-basis: 15%;
    /* flex-grow: 7; */
}

.mail-preview .maiSubject {
    /* flex-grow: 18; */
    flex-basis: 80%;
}

.mail-preview .mailTime {
    justify-content: end;
    flex-basis: 10%;
    text-align: center;
    /* flex: 1; */
}

.mail-preview button {
    /* display: none; */
}

/* לנסות על ה- ליסט */
/* 
.mail-preview:hover +  .mail-preview button {
    display: inline-block;
} */





